In [2]:
import pandas as pd
pd.options.display.max_colwidth = 100

In [3]:
# load in Alice in Wonderland text
alice_file = 'alice.txt'

alice_df = pd.read_csv(alice_file, sep='\n', header=None)
alice_df.columns = ['text']
alice_df.head()

                                                                       text
0                                          ALICE’S ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [4]:
# find all lines of text with the strings 'cat', 'hat', and 'eat'
p = '[che]at'
alice_df[alice_df['text'].str.contains(p)]

                                                                            text
5        it, ‘and what is the use of a book,’ thought Alice ‘without pictures or
12       There was nothing so VERY remarkable in that; nor did Alice think it so
15      occurred to her that she ought to have wondered at this, but at the time
18        Alice started to her feet, for it flashed across her mind that she had
26        dipped suddenly down, so suddenly that Alice had not a moment to think
...                                                                          ...
2438                                         what a wonderful dream it had been.
2445      up into hers--she could hear the very tones of her voice, and see that
2446          queer little toss of her head to keep back the wandering hair that
2448  listen, the whole place around her became alive with the strange creatures
2468     of the cattle in the distance would take the place of the Mock Turtle’s

[537 rows x 1 columns]

In [5]:
# find all lines of text with the strings 'cat', 'hat', and 'eat' that end with a period
p = '[che]at\.'
alice_df[alice_df['text'].str.contains(p)]

                                                                      text
66     (Dinah was the cat.) ‘I hope they’ll remember her saucer of milk at
524   ‘Dinah’s our cat. And she’s such a capital one for catching mice you
642             ‘Sure, it does, yer honour: but it’s an arm for all that.’
1827                                                         as all that.’
1975                                ‘any shrimp could have told you that.’
2043                 While the Owl had the dish as its share of the treat.

In [6]:
# find all lines of text with a word that matches the form "w*ll"
p = 'w.ll'
alice_df[alice_df['text'].str.contains(p)]

                                                                          text
7        So she was considering in her own mind (as well as she could, for the
28                                                                       well.
29         Either the well was very deep, or she fell very slowly, for she had
33     looked at the sides of the well, and noticed that they were filled with
117      It was all very well to say ‘Drink me,’ but the wise little Alice was
...                                                                        ...
2114                                                             just as well.
2124     Alice could see, as well as if she were looking over their shoulders,
2219    the officers of the court. (As that is rather a hard word, I will just
2433  sister, as well as she could remember them, all these strange Adventures
2437      Alice got up and ran off, thinking while she ran, as well she might,

[64 rows x 1 columns]